@keyframes blinky {
	0% {
		background: transparent;
	}
	100% {
		background: #db2777;
	}
}

@-webkit-keyframes blinky {
	0% {
		background: transparent;
	}
	100% {
		background: #db2777;
	}
}

.caret {
	position: relative;
}

.caret::before {
	position: absolute;
	content: "";
	width: 2px;
	height: 1.5em;
	vertical-align: middle;
	background: #db2777;
	animation: blinky 0.5s ease-in-out infinite alternative;
	-webkit-animation: blinky 0.5s ease-in-out infinite alternate;
}

.editor-selection {
	padding: 0;
	margin: 0;
}

.editor-selection.space {
	display: none;
}

.editor-selection.space::after {
	width: 1ch;
	height: 1ch;
	display: inline-block;
	content: "•";
	margin-left: -1ch;
	text-align: center;
}

.editor-selection.tab::after {
	content: "→";
	width: 2rem;
	display: inline-block;
	margin-left: -2rem;
}

.editor-selection.new-line {
	display: none;
}

.editor-selection.new-line::before {
	content: " ";
	display: inline-block;
	width: 1ch;
}
