@keyframes blinky {
	0% {
		background: transparent;
	}
	100% {
		background: #7e1946;
	}
}

@-webkit-keyframes blinky {
	0% {
		background: transparent;
	}
	100% {
		background: #7e1946;
	}
}

.caret {
	position: relative;
}

.caret::before {
	position: absolute;
	content: "";
	width: 2px;
	height: 1.5em;
	vertical-align: middle;
	background: #7e1946;
	animation: blinky 0.5s ease-in-out infinite alternative;
	-webkit-animation: blinky 0.5s ease-in-out infinite alternate;
}

.editor-selection {
	background: #bbb;
	padding: 0;
	margin: 0;
}

.editor-selection.selection-start {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.editor-selection.selection-end {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.editor-selection.space {
	display: none;
}

.editor-selection.space::after {
	width: 1ch;
	height: 1ch;
	display: inline-block;
	content: "_";
	color: #eee;
	margin-left: -1ch;
	text-align: center;
}

.editor-selection.tab::after {
	content: "→";
	width: 1ch;
	height: 1ch;
	display: inline-block;
	margin-left: -1.3ch;
	margin-right: 0.3em;
	color: #eee;
}

.editor-selection.new-line {
	display: none;
}

.editor-selection.new-line::before {
	content: " ";
	display: inline-block;
	width: 1ch;
	color: #eee;
}
