# ID

ID_PORT=3001
ID_PUBLIC_HOST=http://localhost:${ID_PORT}
ID_INTERNAL_HOST=http://localhost:${ID_PORT}

ID_USER_PERSISTENCE_STRATEGY=fs
ID_TOKEN_PERSISTENCE_STRATEGY=memory

ID_EMAIL_API_KEY=

ID_USER_PERSISTENCE_STRATEGY_YDB_TABLE_NAME=
ID_USER_PERSISTENCE_STRATEGY_YDB_ENDPOINT=
ID_USER_PERSISTENCE_STRATEGY_YDB_ACCESS_KEY=
ID_USER_PERSISTENCE_STRATEGY_YDB_SECRET_KEY=
ID_USER_PERSISTENCE_STRATEGY_YDB_REGION=

ID_TOKEN_PERSISTENCE_STRATEGY_YDB_TABLE_NAME=
ID_TOKEN_PERSISTENCE_STRATEGY_YDB_ENDPOINT=
ID_TOKEN_PERSISTENCE_STRATEGY_YDB_ACCESS_KEY=
ID_TOKEN_PERSISTENCE_STRATEGY_YDB_SECRET_KEY=
ID_TOKEN_PERSISTENCE_STRATEGY_YDB_REGION=

ID_USER_PERSISTENCE_STRATEGY_FS_PATH=./var/srv/id/users.json
ID_TOKEN_PERSISTENCE_STRATEGY_MEMORY_PATH=./var/srv/id/tokens.json

ID_ACCESS_TOKEN_EXPIRE_IN=60
ID_REFRESH_TOKEN_EXPIRE_IN=2592000
ID_ACCESS_TOKEN_PUBLIC_KEY=
ID_ACCESS_TOKEN_PRIVATE_KEY=
ID_REFRESH_TOKEN_PUBLIC_KEY=
ID_REFRESH_TOKEN_PRIVATE_KEY=

# DT

DT_PORT=3002
DT_PUBLIC_HOST=http://localhost:${DT_PORT}
DT_INTERNAL_HOST=http://localhost:${DT_PORT}

DT_DATA_PERSISTENCE_STRATEGY=fs
DT_CONTENT_PERSISTENCE_STRATEGY=fs

DT_DATA_PERSISTENCE_STRATEGY_S3_ACCESS_KEY=
DT_DATA_PERSISTENCE_STRATEGY_S3_SECRET_KEY=
DT_DATA_PERSISTENCE_STRATEGY_S3_REGION=
DT_DATA_PERSISTENCE_STRATEGY_S3_BUCKET_NAME=
DT_DATA_PERSISTENCE_STRATEGY_S3_ENDPOINT=

DT_CONTENT_PERSISTENCE_STRATEGY_S3_ACCESS_KEY=
DT_CONTENT_PERSISTENCE_STRATEGY_S3_SECRET_KEY=
DT_CONTENT_PERSISTENCE_STRATEGY_S3_REGION=
DT_CONTENT_PERSISTENCE_STRATEGY_S3_BUCKET_NAME=
DT_CONTENT_PERSISTENCE_STRATEGY_S3_ENDPOINT=

DT_DATA_PERSISTENCE_STRATEGY_FS_PATH=./var/srv/dt/data
DT_CONTENT_PERSISTENCE_STRATEGY_FS_PATH=./var/srv/dt/content

# WEB

WEB_PORT=8000
WEB_PUBLIC_HOST=http://localhost:${WEB_PORT}
WEB_INTERNAL_HOST=http://localhost:${WEB_PORT}

# WORKSPACE

WORKSPACE_PORT=3004
WORKSPACE_PUBLIC_HOST=http://localhost:${WORKSPACE_PORT}

# STATIC

STATIC_PORT=3003
STATIC_PUBLIC_HOST=http://localhost:${STATIC_PORT}

STATIC_ROOT=./var/srv/static