# Ordo will store data locally under given path if you do not provide S3 creds.
ORDO_DATA_ROOT=var/dt

# S3 region, bucket, access key and secret key are required to make Ordo use S3
# for storing data. If at least one is not provided, Ordo will resort to local
# storage via $ORDO_DATA_ROOT.
ORDO_S3_REGION=
ORDO_S3_BUCKET=
ORDO_S3_ACCESS_KEY=
ORDO_S3_SECRET_KEY=
ORDO_S3_ENDPOINT=

ORDO_WEB_PORT=3000
ORDO_WEB_HOST=http://localhost:3000

ORDO_ID_PORT=3001
ORDO_ID_INTERNAL_HOST=http://localhost:3001
ORDO_ID_PUBLIC_HOST=http://localhost:3001
ORDO_ID_ALLOW_ORIGIN=$ORDO_WEB_HOST, $ORDO_DT_INTERNAL_HOST, $ORDO_PB_INTERNAL_HOST, $ORDO_FN_INTERNAL_HOST
ORDO_ID_CODE_LIFETIME_SECONDS=300
ORDO_ID_CODE_ALGORITHM=bcrypt
ORDO_ID_CODE_ALGORITHM_PARAMS='{ "cost": 4 }'
ORDO_ID_SESSION_LIFETIME_MINUTES=43200
ORDO_ID_SESSION_TOKEN_ALGORITHM=Ed25519
ORDO_ID_SESSION_TOKEN_ALGORITHM_PARAMS=
ORDO_ID_SESSION_TOKEN_PUBLIC_KEY=
ORDO_ID_SESSION_TOKEN_PRIVATE_KEY=
# Here you can override global variables if needed
ORDO_ID_DATA_ROOT=$ORDO_DATA_ROOT
ORDO_ID_S3_REGION=$ORDO_S3_REGION
ORDO_ID_S3_BUCKET=$ORDO_S3_BUCKET
ORDO_ID_S3_ACCESS_KEY=$ORDO_S3_ACCESS_KEY
ORDO_ID_S3_SECRET_KEY=$ORDO_S3_SECRET_KEY
ORDO_ID_S3_ENDPOINT=$ORDO_S3_ENDPOINT

ORDO_DT_PORT=3002
ORDO_DT_INTERNAL_HOST=http://localhost:3002
ORDO_DT_PUBLIC_HOST=http://localhost:3002
ORDO_DT_ALLOW_ORIGIN=$ORDO_WEB_HOST, $ORDO_ID_INTERNAL_HOST
# Here you can override global variables if needed
ORDO_DT_DATA_ROOT=$ORDO_DATA_ROOT
ORDO_DT_S3_REGION=$ORDO_S3_REGION
ORDO_DT_S3_BUCKET=$ORDO_S3_BUCKET
ORDO_DT_S3_ACCESS_KEY=$ORDO_S3_ACCESS_KEY
ORDO_DT_S3_SECRET_KEY=$ORDO_S3_SECRET_KEY
ORDO_DT_S3_ENDPOINT=$ORDO_S3_ENDPOINT

ORDO_PB_PORT=3003
ORDO_PB_INTERNAL_HOST=http://localhost:3003
ORDO_PB_PUBLIC_HOST=http://localhost:3003
ORDO_PB_ALLOW_ORIGIN=$ORDO_WEB_HOST
# Here you can override global variables if needed
ORDO_PB_DATA_ROOT=$ORDO_DATA_ROOT
ORDO_PB_S3_REGION=$ORDO_S3_REGION
ORDO_PB_S3_BUCKET=$ORDO_S3_BUCKET
ORDO_PB_S3_ACCESS_KEY=$ORDO_S3_ACCESS_KEY
ORDO_PB_S3_SECRET_KEY=$ORDO_S3_SECRET_KEY
ORDO_PB_S3_ENDPOINT=$ORDO_S3_ENDPOINT

ORDO_FN_PORT=3004
ORDO_FN_INTERNAL_HOST=http://localhost:3004
ORDO_FN_PUBLIC_HOST=http://localhost:3004
ORDO_FN_ALLOW_ORIGIN=$ORDO_WEB_HOST
# Here you can override global variables if needed
ORDO_FN_DATA_ROOT=$ORDO_DATA_ROOT
ORDO_FN_S3_REGION=$ORDO_S3_REGION
ORDO_FN_S3_BUCKET=$ORDO_S3_BUCKET
ORDO_FN_S3_ACCESS_KEY=$ORDO_S3_ACCESS_KEY
ORDO_FN_S3_SECRET_KEY=$ORDO_S3_SECRET_KEY
ORDO_FN_S3_ENDPOINT=$ORDO_S3_ENDPOINT
