**/**/node_modules
**/**/dist

/bin/*
/opt/*
/var/*
/usr/*

/tsconfig.json
/.prettierrc
/deno.jsonc
/tailwind.config.cjs

.idea
.vscode/*
!.vscode/settings.json
.vim

.DS_Store
.Thumb

*.env*
!/.env.example