{
	"semi": false,
	"useTabs": true,
	"arrowParens": "avoid",
	"printWidth": 128,
	"endOfLine": "lf",
	"singleAttributePerLine": false,
	"singleQuote": false,
	"htmlWhitespaceSensitivity": "strict",
	"proseWrap": "always",
	"trailingComma": "all",
	"plugins": ["prettier-plugin-tailwindcss"],
	"bracketSpacing": true
}
