.loader {
  position: relative;
  @apply w-20 h-20;
  @apply rounded-full;
  @apply bg-gradient-to-t from-purple-500 to-pink-500;
  animation: animate 1.2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  @apply bg-gradient-to-t from-purple-500 to-pink-500;
}

.loader span:nth-child(1) {
  filter: blur(1px);
}

.loader span:nth-child(2) {
  filter: blur(2px);
}

.loader span:nth-child(3) {
  filter: blur(5px);
}

.loader span:nth-child(4) {
  filter: blur(10px);
}

.loader:after {
  content: "";
  position: absolute;
  @apply top-2 right-2 bottom-2 left-2;
  @apply border border-transparent rounded-full;
  @apply bg-neutral-100 dark:bg-neutral-900;
}
