@keyframes blinky {
	100% {
		background: transparent;
	}
	0% {
		@apply bg-pink-500 dark:bg-pink-300;
	}
}

@-webkit-keyframes blinky {
	100% {
		background: transparent;
	}
	0% {
		@apply bg-pink-500 dark:bg-pink-300;
	}
}

@keyframes unfocused {
	100% {
		background: transparent;
	}
	0% {
		@apply bg-neutral-500 dark:bg-neutral-300;
	}
}

@-webkit-keyframes unfocused {
	100% {
		background: transparent;
	}
	0% {
		@apply bg-neutral-500 dark:bg-neutral-300;
	}
}

.editor {
	&_textarea {
		@apply w-full cursor-text h-[calc(100vh-8.7rem)];
	}

	&_empty {
		@apply flex items-center justify-center w-full h-[calc(100vh-3rem)] select-none cursor-default;

		&_logo {
			@apply bg-gradient-to-t from-neutral-700 dark:from-neutral-700 to-pink-500 dark:to-pink-800 text-transparent bg-clip-text;

			&_or {
				@apply text-9xl font-black;
			}

			&_check {
				@apply text-6xl align-top;
			}
		}
	}

	&_tabs-container {
		@apply flex items-center p-2 flex-wrap select-none;
	}

	&_lines {
		@apply outline-none select-none cursor-text;
	}

	&_line {
		@apply flex items-center align-middle w-full;

		&_number {
			@apply w-12 select-none self-stretch flex flex-shrink-0 justify-end border-r border-neutral-200 dark:border-neutral-600 text-right pr-2 font-mono text-neutral-500 dark:text-neutral-400 text-sm;
		}

		&_content {
			@apply px-2 w-full whitespace-pre tracking-wide;
		}
	}

	&_image-viewer {
		@apply flex items-center justify-center p-24;

		&_image {
			@apply shadow-2xl;
		}
	}

	&_tab {
		@apply flex flex-shrink text-sm text-neutral-800 dark:text-neutral-300 items-center space-x-2 cursor-pointer px-3 py-1 rounded-lg truncate;

		&_active {
			@apply bg-neutral-200 dark:bg-neutral-600 shadow-md;
		}

		&_file-icon {
			@apply text-neutral-500;
		}

		&_close-icon {
			@apply text-neutral-500 hover:text-red-500 transition-all duration-300;
		}
	}

	&_breadcrumbs {
		@apply flex space-x-2 text-sm text-neutral-500 items-center px-4 py-2 select-none;
	}

	&_breadcrumb {
		@apply flex flex-shrink-0 truncate space-x-2 items-center;

		&_title {
			@apply flex items-center space-x-2;
		}
	}

	&_caret {
		@apply relative w-0;

		&::before {
			@apply absolute w-0.5 h-full bg-pink-500 dark:bg-pink-300 align-middle;
			content: "";
			animation: blinky 0.5s ease-in-out infinite alternative;
			-webkit-animation: blinky 0.5s ease-in-out infinite alternate;
		}

		&_unfocused {
			&::before {
				@apply bg-neutral-500 dark:bg-neutral-300;
				animation: unfocused 0.5s ease-in-out infinite alternative;
				-webkit-animation: unfocused 0.5s ease-in-out infinite alternate;
			}
		}
	}

	&_selection {
		padding: 0;
		margin: 0;
	}

	&_selection.space {
		display: none;
	}

	&_selection.space::after {
		width: 1ch;
		height: 1ch;
		display: inline-block;
		content: "•";
		margin-left: -7.5px;
		margin-right: -2.5px;
		text-align: center;
	}

	&_selection.tab::after {
		content: "→";
		width: 2rem;
		display: inline-block;
		margin-left: -2rem;
	}

	&_selection.new-line {
		display: none;
	}

	&_selection.new-line::before {
		content: " ";
		display: inline-block;
		width: 1ch;
	}
}
