@media (prefers-color-scheme: light) {
    body {
      background: #FFF;
      color: #333;
    }
  }
@media (prefers-color-scheme: dark) {
    body {
      background: #333;
      color: #FFF;
    }
  }