@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blinky {
	100% {
		background: transparent;
	}
	0% {
		@apply bg-pink-700;
	}
}

@-webkit-keyframes blinky {
	100% {
		background: transparent;
	}
	0% {
		@apply bg-pink-700;
	}
}

@keyframes unfocused {
	100% {
		background: transparent;
	}
	0% {
		@apply bg-neutral-700;
	}
}

@-webkit-keyframes unfocused {
	100% {
		background: transparent;
	}
	0% {
		@apply bg-neutral-700;
	}
}

.caret {
	@apply relative w-0;
}

.caret::before {
	@apply absolute w-0.5 h-full bg-pink-700 align-middle;
	content: "";
	animation: blinky 0.5s ease-in-out infinite alternative;
	-webkit-animation: blinky 0.5s ease-in-out infinite alternate;
}

.caret-unfocused {
	@apply relative w-0;
}

.caret-unfocused::before {
	@apply absolute w-0.5 h-full bg-neutral-700 align-middle;
	content: "";
	animation: unfocused 0.5s ease-in-out infinite alternative;
	-webkit-animation: unfocused 0.5s ease-in-out infinite alternate;
}

.editor-selection {
	padding: 0;
	margin: 0;
}

.editor-selection.space {
	display: none;
}

.editor-selection.space::after {
	width: 1ch;
	height: 1ch;
	display: inline-block;
	content: "•";
	margin-left: -7.5px;
	margin-right: -2.5px;
	text-align: center;
}

.editor-selection.tab::after {
	content: "→";
	width: 2rem;
	display: inline-block;
	margin-left: -2rem;
}

.editor-selection.new-line {
	display: none;
}

.editor-selection.new-line::before {
	content: " ";
	display: inline-block;
	width: 1ch;
}
