@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-blue: #6dc6da;
  --lighter-blue: #238acb;
  --blue: #23398e;
  --pink: #e72f89;
  --purple: #713d90;
}

body {
  @apply min-h-screen bg-gradient-to-b from-neutral-700 to-neutral-800 text-neutral-300;
  font-family: "Jost", sans-serif;
}
