@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-blue: #6dc6da;
  --lighter-blue: #238acb;
  --blue: #23398e;
  --pink: #e72f89;
  --purple: #713d90;
}

* {
  font-family: "Jost", sans-serif;
}

body {
  @apply min-h-screen bg-neutral-800;
}

/*base-styles*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main,
.site-container,
.advantage__container,
.graph__content,
.footer__social,
.footer__menu,
.footer,
.advantage__link,
.mobile-link,
.hero__mobile-link,
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.btn,
.advantage__container,
.graph__content,
.footer__social,
.footer__menu,
.footer,
.advantage__link,
.mobile-link,
.hero__mobile-link,
.header__logo {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantage__container,
.graph__content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__social,
.footer__menu,
.footer,
.advantage__link,
.mobile-link,
.hero__mobile-link,
.header__logo {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer,
.main,
.site-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__menu-link {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.advantage__text a,
.description__text a,
.info__description a,
.btn,
.social-link,
.hero__content p a {
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.btn,
.mobile-link,
.hero__mobile-link {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.advantage__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.info__notice,
.info__text,
.hero__content p {
  font-weight: 400;
  font-size: rem(18);
  line-height: 180%;
}

.info__notice a,
.info__text a,
.hero__content p a,
.info__notice b,
.info__text b,
.hero__content p b,
.info__notice strong,
.info__text strong,
.hero__content p strong {
  color: var(--color-pink);
}

.info__notice a,
.info__text a,
.hero__content p a {
  text-decoration: none;
}

:root {
  --content-width: 1240px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --color-bg: #272727;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark: #272727;
  --color-pink: #e83e8e;
  --color-violet: #732f85;
  --color-purple: #bb34a8;
  --color-blue: #2a8ccb;
  --color-gray: #909090;
  --color-black-gray: #2c2c2c;
  --color-gray-light: #d0d0d0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline-color: var(--color-primary);
  -webkit-tap-highlight-color: transparent;
}

.page {
  height: 100%;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  overflow: visible;
  position: relative;
  height: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  height: 100%;
  background-color: var(--color-bg);
}

.site-container {
  max-width: 2560px;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-bottom: 0px;
}

.container,
.advantage__container,
.kanban__container,
.graph__container,
.about__container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-offset);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.header {
  width: 116px;
  height: 116px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99;
}

.hero {
  position: relative;
}

.hero__bg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.hero__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.hero__container {
  position: absolute;
  z-index: 2;
  width: 50%;
  min-height: 40%;
  overflow: hidden;
  top: 0;
  left: 50%;
  background-color: var(--color-black);
  padding: 45px 111px 160px 111px;
  color: var(--color-white);
}

.hero__social {
  margin-bottom: 159px;
}

.hero__social > *:not(.hero__social > *:nth-last-child(1)) {
  margin-right: 40px;
}

.hero__content {
  max-width: 500px;
}

.hero__content p a,
.hero__content p b,
.hero__content p strong {
  color: var(--color-purple);
}

.hero__content p a {
  text-decoration: none;
}

.hero__content p a:hover {
  opacity: 0.8;
}

.hero__title {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.28;
  margin-bottom: 1rem;
}

.hero__link {
  margin-top: 70px;
}

.mobile-link,
.hero__mobile-link {
  margin-top: 42px;
  display: none;
  background-color: var(--color-black-gray);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.44;
  text-decoration: none;
  color: var(--color-white);
  width: 100%;
  padding: 17px 20px;
  max-width: 350px;
  margin: 46 auto 0 auto;
}

.mobile-link svg,
.hero__mobile-link svg {
  margin-left: 14px;
}

.social-link {
  display: inline-block;
  padding-right: 23px;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.3;
  color: var(--color-gray);
  background-image: url("/img/ico/social-link.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 13px 13px;
}

.social-link:hover {
  opacity: 0.8;
}

.btn {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
  color: var(--color-white);
  background-image: url("/img/btn/btn.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14px 20px;
}

.btn svg {
  margin-left: 14px;
}

.btn:hover {
  opacity: 0.8;
}

.about {
  color: var(--color-dark);
  margin-top: -30%;
  padding-top: 20%;
  background-image: url("/img/about/bg.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__container {
  position: relative;
}

.about__info {
  position: absolute;
  max-width: 382px;
  right: 185px;
  top: -6%;
}

.about__img {
  width: 90%;
}

.about__description {
  position: absolute;
  bottom: -69px;
  left: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  max-width: 644px;
}

.img {
  height: 100%;
  margin: 0 auto;
}

.img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.info {
  display: inline-block;
  position: absolute;
  padding: 44px 50px;
}

.info__text {
  position: relative;
  z-index: 3;
}

.info__notice {
  position: relative;
  z-index: 3;
  margin-top: 11px;
  font-weight: 500;
  font-size: 1.25rem;
}

.info::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
}

.info::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 12px;
  left: -6px;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  background-color: var(--color-gray-light);
}

.info__decor {
  position: absolute;
  z-index: 2;
  left: 50px;
  top: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 23px;
  height: 48px;
  background-image: url("/img/ico/info.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.info__description {
  width: 90%;
  position: absolute;
  top: 100%;
  left: 5%;
  background-color: var(--color-black);
  padding: 35px 72px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 150%;
}

.info__description a,
.info__description b,
.info__description strong {
  color: var(--color-blue);
}

.info__description a {
  text-decoration: none;
}

.info__description a:hover {
  opacity: 0.8;
}

.notice,
.kanban__notice,
.description__notice {
  display: inline-block;
  position: absolute;
  max-width: 270px;
  right: 0;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background-color: var(--color-blue);
  -webkit-transform: translate(25%, 50px) rotate(-15deg);
  -ms-transform: translate(25%, 50px) rotate(-15deg);
  transform: translate(25%, 50px) rotate(-15deg);
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 120%;
}

.description {
  position: relative;
  padding: 50px 50px 50px 65px;
  background-color: var(--color-black);
  color: var(--color-white);
}

.description::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 7px;
  background-color: var(--color-violet);
  top: 0;
  left: 50px;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  -ms-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
}

.description__text {
  font-weight: 500;
  font-size: 2.3125rem;
  line-height: 150%;
}

.description__text a,
.description__text b,
.description__text strong {
  color: var(--color-pink);
}

.description__text a {
  text-decoration: none;
}

.description__text a:hover {
  opacity: 0.8;
}

.description__notice {
  right: 23px;
  bottom: 21px;
}

.graph {
  margin-top: -18%;
  padding-bottom: 15%;
  background-image: url("/img/graph/bg.svg");
  background-position: top 0px left;
  background-repeat: no-repeat;
  background-size: cover;
}

.graph__title {
  display: inline-block;
  font-size: 0;
  width: 100%;
  height: 500px;
  margin-top: 26%;
  -webkit-transform: translateX(-8%);
  -ms-transform: translateX(-8%);
  transform: translateX(-8%);
  background-image: url("/img/graph/title.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.graph__container {
  position: relative;
}

.graph__info {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  position: relative;
  top: 16px;
  left: 22px;
}

.graph__content {
  position: relative;
  z-index: 2;
  margin-top: -13%;
}

.graph__img {
  position: relative;
  z-index: 1;
  margin-top: -180px;
}

.graph__ostin {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  position: relative;
  height: 624px;
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
}

.graph__ostin > * {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 1000px;
  height: 100%;
}

.graph__description {
  max-width: 587px;
  position: absolute;
  z-index: 3;
  bottom: 24px;
  left: 50%;
  -webkit-transform: translate(-63%, 119px);
  -ms-transform: translate(-63%, 119px);
  transform: translate(-63%, 119px);
}

.kanban {
  margin-top: -6%;
  padding-bottom: 200px;
  background-image: url("/img/kanban/bg.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.kanban__container {
  position: relative;
}

.kanban__title {
  display: inline-block;
  font-size: 0;
  width: 100%;
  height: 500px;
  margin-top: 0;
  -webkit-transform: translateX(-8%);
  -ms-transform: translateX(-8%);
  transform: translateX(-8%);
  background-image: url("/img/kanban/title.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.kanban__info {
  max-width: 493px;
  right: 162px;
  top: 344px;
}

.kanban__chair {
  width: 274px;
  height: 213px;
  margin: 60px auto 0 auto;
  -webkit-transform: translate(-152px, -5px);
  -ms-transform: translate(-152px, -5px);
  transform: translate(-152px, -5px);
  color: var(--color-white);
  position: relative;
}

.kanban__notice {
  width: 120%;
  max-width: 320px;
  -webkit-transform: translate(60%, 30px) rotate(-15deg);
  -ms-transform: translate(60%, 30px) rotate(-15deg);
  transform: translate(60%, 30px) rotate(-15deg);
}

.kanban__img {
  margin-top: -100px;
}

.kanban__description {
  position: absolute;
  z-index: 4;
  bottom: 0;
  right: 0;
  max-width: 796px;
}

.advantage {
  position: relative;
}

.advantage::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--color-black);
}

.advantage__bg {
  position: absolute;
  z-index: 1;
  top: -7%;
  right: 0;
  width: 50%;
  height: 107%;
  background-image: url("/img/advantage/bg.webp");
  background-size: cover;
  background-position: top 7% right;
  background-repeat: no-repeat;
}

.advantage__title {
  font-size: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-70%, -40%);
  -ms-transform: translate(-70%, -40%);
  transform: translate(-70%, -40%);
  width: 500px;
  height: 300px;
  background-image: url("/img/advantage/title.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.advantage__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  position: relative;
  z-index: 2;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  padding: 60px 100px 60px 0;
  background-color: var(--color-black);
}

.advantage__logo {
  margin-bottom: 32px;
}

.advantage__item:not(.advantage__item:nth-last-child(1)) {
  margin-bottom: 42px;
}

.advantage__heading {
  position: relative;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.43;
  color: var(--color-white);
  padding-left: 50px;
  margin-bottom: 19px;
}

.advantage__heading::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 7px;
  background-color: var(--color-violet);
  top: 8px;
  left: 0px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.advantage__text {
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 180%;
  color: var(--color-white);
}

.advantage__text a,
.advantage__text b,
.advantage__text strong {
  color: var(--color-pink);
}

.advantage__text a {
  text-decoration: none;
}

.advantage__text a:hover {
  opacity: 0.8;
}

.advantage__link {
  margin-top: 70px;
  font-size: 1.3125rem;
  padding: 19px 43px;
  max-width: 300px;
}

.footer {
  text-align: center;
  width: 100%;
  padding: 73px 0 10px;
  background-image: url("/img/footer/bg.svg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__menu {
  margin-bottom: 26px;
}

.footer__menu-item:not(.footer__menu-item:nth-last-child(1)) {
  margin-right: 60px;
}

.footer__menu-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 180%;
  text-transform: uppercase;
  color: var(--color-gray);
}

.footer__menu-link:hover {
  color: var(--color-white);
}

.footer__social {
  margin-bottom: 22px;
}

.footer__social-item:not(.footer__social-item:nth-last-child(1)) {
  margin-right: 40px;
}

.footer__social-link {
  color: var(--color-white);
}

.footer__link {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #636363;
  margin-bottom: 8px;
}

.footer__link:hover {
  text-decoration: none;
}

.footer__copyright {
  display: inline-block;
  margin-top: 14px;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.43;
  color: var(--color-white);
}

@media (min-width: 112.5em) {
  .hero__container {
    padding-left: 6.9375rem;
  }

  .hero__container {
    padding-right: 6.9375rem;
  }

  .hero__container {
    padding-bottom: 10rem;
  }

  .hero__social {
    margin-bottom: 9.9375rem;
  }

  .hero__link {
    margin-top: 4.375rem;
  }
}

@media (min-width: 64em) {
  .graph__title {
    height: 31.25rem;
  }

  .kanban__title {
    height: 31.25rem;
  }
}

@media (max-width: 1440px) {
  .graph__title {
    margin-top: 18%;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .advantage__title {
    -webkit-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
  }
}

@media (max-width: 1280px) {
  .graph__title {
    margin-top: 10%;
  }
}

@media (max-width: 1024px) {
  .header {
    width: 74px;
    height: 74px;
  }

  .hero__container {
    position: relative;
    width: 100%;
    min-height: initial;
    left: initial;
    padding: 24px 30px 36px 30px !important;
  }

  .hero__social > *:not(.hero__social > *:nth-last-child(1)) {
    margin-right: 100px;
  }

  .hero__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px);
  }

  .hero__content {
    max-width: initial;
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }

  .mobile-link,
  .hero__mobile-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .about {
    margin-top: 0;
    padding-top: 0;
    background-image: none;
  }

  .about__info {
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    right: initial;
    top: initial;
  }

  .about__description {
    bottom: -120px;
    max-width: 90%;
  }

  .info {
    padding: 35px 30px 35px 45px;
  }

  .info__text {
    font-size: 1rem;
  }

  .info__notice {
    font-size: 1.125rem;
  }

  .info__description {
    font-size: 1.25rem;
    padding: 70px 20px 20px 20px;
    top: 90%;
  }

  .notice,
  .kanban__notice,
  .description__notice {
    font-size: 1rem;
    max-width: 215px;
  }

  .description {
    padding: 30px;
  }

  .description::before {
    left: 27px;
  }

  .description__text {
    font-size: 1.5625rem;
  }

  .description__notice {
    bottom: 20px;
    max-width: 170px;
  }

  .graph {
    margin-top: 60px;
    padding-bottom: 0;
    background-image: none;
  }

  .graph__title {
    height: 400px;
  }

  .graph__info {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    left: 0;
    top: 0;
  }

  .graph__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0;
  }

  .graph__img {
    margin-top: -50px;
    z-index: 4;
  }

  .graph__ostin {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    height: auto;
    margin-top: 150px;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  .graph__ostin > * {
    position: relative;
    width: 100%;
  }

  .graph__description {
    position: relative;
    z-index: 4;
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
    bottom: 0;
    left: 0;
    margin-top: -40px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .kanban {
    background-image: none;
    margin-top: 70px;
    padding-bottom: 46px;
  }

  .kanban__title {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    height: 350px;
  }

  .kanban__info {
    width: 100%;
    position: relative;
    z-index: 2;
    right: 0;
    top: 0;
  }

  .kanban__chair {
    margin: 0px auto 0 auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    z-index: 1;
  }

  .kanban__notice {
    -webkit-transform: translate(30px, 30px) rotate(-15deg);
    -ms-transform: translate(30px, 30px) rotate(-15deg);
    transform: translate(30px, 30px) rotate(-15deg);
  }

  .kanban__img {
    margin-top: 20px;
    position: relative;
    z-index: 3;
  }

  .kanban__description {
    max-width: 300px;
    margin-top: -40px;
    position: relative;
    right: initial;
    left: 0;
    font-size: 1rem;
  }

  .advantage__container {
    background-color: var(--color-black);
  }

  .advantage__bg {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
  }

  .advantage__content {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .advantage__logo {
    max-width: 290px;
  }

  .advantage__heading {
    padding-left: 0px;
    text-align: center;
  }

  .advantage__heading::before {
    display: none;
  }

  .advantage__text {
    padding-left: 0px;
    text-align: center;
    font-size: 1rem;
  }

  .advantage__link {
    display: none;
  }

  .footer {
    padding: 40px 0 10px 0;
  }

  .footer__menu {
    margin-bottom: 33px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__menu-item:not(.footer__menu-item:nth-last-child(1)) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer__social {
    margin-bottom: 31px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__social-item:not(.footer__social-item:nth-last-child(1)) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

@media (max-width: 64em) {
  .hero__container {
    padding-left: 3.125rem;
  }

  .hero__container {
    padding-right: 3.125rem;
  }

  .hero__container {
    padding-bottom: 1.875rem;
  }

  .hero__social {
    margin-bottom: 1.875rem;
  }

  .hero__link {
    margin-top: 1.25rem;
  }
}

@media (max-width: 576px) {
  .info__text {
    font-size: 0.875rem;
  }

  .info__notice {
    font-size: 1rem;
  }

  .info__description {
    font-size: 1rem;
    padding: 70px 20px 20px 20px;
  }

  .notice,
  .kanban__notice,
  .description__notice {
    padding: 15px;
    font-size: 0.875rem;
  }

  .description__text {
    font-size: 1.125rem;
  }

  .graph__title {
    height: 250px;
  }

  .kanban__title {
    height: 200px;
  }
}

@media (max-width: 20em) {
  .graph__title {
    height: 12.5rem;
  }

  .kanban__title {
    height: 9.375rem;
  }
}

@media (min-width: 64em) and (max-width: 112.5em) {
  .hero__container {
    padding-left: clamp(3.125rem, -1.9059278351rem + 7.8608247423vw, 6.9375rem);
  }

  .hero__container {
    padding-right: clamp(
      3.125rem,
      -1.9059278351rem + 7.8608247423vw,
      6.9375rem
    );
  }

  .hero__container {
    padding-bottom: clamp(1.875rem, -8.8466494845rem + 16.7525773196vw, 10rem);
  }

  .hero__social {
    margin-bottom: clamp(
      1.875rem,
      -8.7641752577rem + 16.6237113402vw,
      9.9375rem
    );
  }

  .hero__link {
    margin-top: clamp(1.25rem, -2.8737113402rem + 6.4432989691vw, 4.375rem);
  }
}

@media (min-width: 20em) and (max-width: 64em) {
  .graph__title {
    height: clamp(12.5rem, 3.9772727273rem + 42.6136363636vw, 31.25rem);
  }

  .kanban__title {
    height: clamp(9.375rem, -0.5681818182rem + 49.7159090909vw, 31.25rem);
  }
}
